.smart-alarm{
   
}
.analog-title-row{
    padding: 20px;
    text-align: left;
}
.ia-status-box{
    padding: 20px;
}
@media screen and (min-width: 1200px){
    .box-card {
        width : 988px;
    }
}